<aside class="w-64 bg-white h-screen shadow-md">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="p-4">
        <h2 class="text-xl font-bold">Admin SafeSpace</h2>
    </div>
    <nav>
        <ul>
            <li class="px-4 py-2 hover:bg-gray-100">
                <a href="/" class="flex items-center">
                    <span class="material-icons">dashboard</span>
                    <span class="ml-2">Dashboard</span>
                </a>
            </li>
            <li class="px-4 py-2 hover:bg-gray-100">
                <a href="/alert" class="flex items-center">
                    <span class="material-icons">notification_important</span>
                    <span class="ml-2">Alerts</span>
                </a>
            </li>
            <li class="px-4 py-2 hover:bg-gray-100">
                <a href="/responders" class="flex items-center">
                    <span class="material-icons">favorite</span>
                    <span class="ml-2">Emergency Responders</span>
                </a>
            </li>
            <li class="px-4 py-2 hover:bg-gray-100">
                <a href="/user" class="flex items-center">
                    <span class="material-icons">people</span>
                    <span class="ml-2">Users</span>
                </a>
            </li>
            <li class="px-4 py-2 hover:bg-gray-100">
                <a href="/news" class="flex items-center">
                    <span class="material-icons">article</span>
                    <span class="ml-2">News</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="mt-auto px-4 py-2 border-t">
        <ul>
            <li class="px-4 py-2 hover:bg-gray-100">
                <a href="#" class="flex items-center">
                    <span class="material-icons">settings</span>
                    <span class="ml-2">Settings</span>
                </a>
            </li>
            <li class="px-4 py-2 hover:bg-gray-100">
                <a href="#" class="flex items-center">
                    <span class="material-icons">logout</span>
                    <span class="ml-2">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
